@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
	margin: 0px;
	padding: 0px;
	font-family: Ubuntu, Helvetica, sans-serif;
}

header {
	position: relative;
	margin: 0px auto;
	padding: 5px 20px;
	background: #eee;
	font-size: 0.75rem;
}

header .lang-switch {
	position: absolute;
	top: 100%;
	right: 15px;
	padding: 5px;
	background: #000;
	color: #fff;
	text-decoration: none;
}

section {
	margin: 0px auto;
	padding: 0px 20px;
}

section.light-grey {
	background: #eee;
}

section.black {
	color: #fff;
	background: #000;
}

section.bgimage {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	min-height: 60vh; 
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.wrapper {
	margin: 0px auto;
	width: 100%;
	max-width: 1200px;
}

.padded {
	padding: 40px 0px;
}

.wrapper h1, .wrapper h2, .wrapper p, .wrapper ul {
	font-weight: 300;
}

.wrapper ul {
	margin: 10px 0px;
	padding: 0px;
	list-style-type: circle;
}

.wrapper ul li {
	margin: 5px 0px 5px 15px;
}

.wrapper a {
	color: #00796b;
	text-decoration: none;
}

.wrapper a:hover {
	text-decoration: underline;
}

.wrapper a:hover {
	text-decoration: underline;
}

.wrapper a.download {
	display: inline-block;
	margin-right: 20px;
	font-size: 0px;
	vertical-align: middle;
}

.wrapper a.download img {
	display: inline-block;
	max-width: 240px;
	max-height: 70px;
}

.wrapper img {
	display: block;
	margin: 0px auto;
	max-width: 100%;
}

.wrapper strong {
	font-weight: bold;
}

section.blackTextBg .wrapper h1 {
	font-size: 2rem;
}

section.blackTextBg .wrapper h2 {
	font-size: 1.25rem;
}

section.blackTextBg .wrapper h1,
section.blackTextBg .wrapper h2 {
	display: inline-block;
	padding: 10px;
	color: #fff;
	background: #2d2d2d;
}

section.blackTextBg .wrapper ul {
	margin: 0px;
	padding: 0px;
}

section.blackTextBg .wrapper p,
section.blackTextBg .wrapper ul li {
	display: inline;
	margin: 0px 0px 0px 10px;
	padding: 5px  0px;
	font-size: 1.15em;
	line-height: 1.5em;
	color: #fff;
	background: #2d2d2d;
	box-shadow: 10px 0 0 #2d2d2d, -10px 0 0 #2d2d2d;
	box-decoration-break: clone;
}

section.blackTextBg .wrapper p:not(:first-child)::before,
section.blackTextBg .wrapper ul li:not(:first-child)::before {
	display: block;
	content: "\A";
	margin: 10px 0px;
}

.gallery {
	margin: 0px auto;
	padding: 20px 0px;
	text-align: center;
	white-space: nowrap;
	overflow-y: hidden;
	overflow-x: scroll;
}

.gallery img {
	display: inline-block;
	margin: 10px;
	width: 270px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

sup, sub {
	opacity: 0.5;
}

.divider {
	border-bottom: 1px solid #ddd;
}
