[Desktop Entry]
_Name=Transport
Exec=qmlscene %U Transport/Main.qml
Icon=Transport/Transport.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
Name[cs]=Transport
